.overlay {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    background: var(--background-colour);
}

.overlay--hidden {
    width: 6em;
    height: 6em;
    border: 1px solid var(--text-colour);
    margin: -1px;
}

.overlay__container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay__container--entered {
    height: 50vh;
}

.overlay__background {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.dark-mode .overlay__background {
    filter: invert(100%);
    opacity: 0.5;
}

.overlay__bars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay__bars .overlay__bar {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--bar-colour);
}

@keyframes bar-wander {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(var(--wander--offset));
    }
}

.overlay__bars .overlay__bar:nth-child(1) {
    --wander--offset: 40px;
    left: 20%;
    animation: bar-wander 13s infinite alternate ease-in-out;
}

.overlay__bars .overlay__bar:nth-child(2) {
    --wander--offset: -60px;
    left: 60%;
    animation: bar-wander 17s infinite alternate ease-in-out;
}

.overlay__bars .overlay__bar:nth-child(3) {
    --wander--offset: -40px;
    left: 75%;
    animation: bar-wander 19s infinite alternate ease-in-out;
}

.overlay__bars .overlay__bar:nth-child(4) {
    --wander--offset: 40px;
    left: 80%;
    animation: bar-wander 11s infinite alternate ease-in-out;
}

.overlay__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    font-size: 2em;
    line-height: 2em;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

.overlay__logo::before {
    content: "\2203\0021";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-colour);
    z-index: -1;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.overlay__logo:hover {
    transform: skewY(-10deg);
}

.overlay__logo:hover::before {
    transform: translate(-0.1em, -0.1em);
}

.overlay__intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    padding: 2em 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.overlay__intro--entered {
    height: 0;
    padding: 0;
}

.overlay__info {
    width: 1fr;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    align-items: flex-end;
    justify-content: flex-start;
}

.overlay__info:last-of-type {
    padding-right: 2em;
}

.overlay__info--hidden {
    transform: translateX(100%);
    opacity: 0;
}

.overlay__info_title {
    font-weight: bolder;
    font-size: 1.6em;
    color: var(--subtext-colour);
    position: relative;
}

.overlay__info_title::before {
    content: '';
    width: 1em;
    height: 0.1em;
    position: absolute;
    top: 50%;
    left: -1.5em;
    background: var(--subtext-colour);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overlay__info_title:hover::before {
    width: 100%;
    left: 0;
}

.overlay__info_content {
    font-size: 1em;
    line-height: 1.2em;
    margin: 1em 0;
    text-align: justify;
    width: 60%;
    padding: 1em;
    height: 100%;
    background: var(--background-colour-dark);
    color: var(--subtext-colour);
}

.overlay__header {
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    transform: translateX(-50%);
}

.overlay__header--entered {
    transform: translateX(50%);
}

.overlay__title {
    font-weight: bolder;
    font-size: 2.4em;
    text-align: left;
}

.overlay__subtitle_name {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: left;
    color: var(--subtext-colour);
}

.overlay__subtitle_name a {
    text-decoration: underline;
    color: var(--subtext-colour);
    font-weight: bolder;
}

.overlay__subtitle_intro {
    font-size: 0.8em;
    text-align: left;
    color: var(--subtext-colour-light);
}

.overlay__enter {
    position: absolute;
    bottom: 0;
    padding: 1em 2em;
    margin: 2em;
    background: var(--background-colour-dark);   
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.overlay__enter:hover {
    background: var(--primary-colour);
}

.overlay__colour_mode {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 2em;
    height: 2em;
    font-size: 2em;
    line-height: 2em;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
}

.overlay__colour_mode:hover {
    transform: rotate(45deg);
}

.overlay__colour_mode--light {
    display: none;
}

.dark-mode .overlay__colour_mode--light {
    display: block; 
}

.dark-mode .overlay__colour_mode--dark {
    display: none;
}